.App {
    max-width: 660px;
    margin: 40px auto;
}

button {
    background: none;
    border: 2px solid black;
    padding: 6px 12px;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-size: 1em;
    margin-left: 10px;
    margin-top: 10px;
}

button:hover {
    background: #c23866;
    color: #fff;
}

.card-grid {
    margin-top: 40px;
    margin-left: 90px;
}

table {
    border: 5px solid forestgreen;
    width: 600px;
    height: 100px;
  }
    
  th {
    border-bottom: 1px solid white;
  }
    
  td {
    text-align: center;
  }

  @media screen and (max-width: 700px){
    .card-grid{
      width: 380px !important;
      margin-left: 0px;
    }
  }

  

  

  
